<div class='container'>
  <h5 class='offset-md-1 pb-4'>新規会員登録</h5>
  <div class='row'>
    <div class="col-sm-12 col-md-9 col-lg-9 px-5 px-sm-0">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field row">
    <%= f.label "名前", class: "col-md-4" %>
    <div class="col-md-8 form-inline ml-md-n3">
    <%= f.label :last_name, "（姓）　" %>
    <%= f.text_field :last_name, autofocus: true, :placeholder => "令和", class: "form-control" %>
    <%= f.label :first_name, "（名）　", class: "ml-md-3" %>
    <%= f.text_field :first_name, autofocus: true, :placeholder => "道子", class: "form-control" %>
    </div>
  </div>

  <div class="field row pt-2">
    <%= f.label "フリガナ", class: "col-md-4" %>
    <div class="col-md-8 form-inline ml-md-n3">
    <%= f.label :last_name_kana, "（セイ）" %>
    <%= f.text_field :last_name_kana, autofocus: true, :placeholder => "レイワ", class: "form-control" %>
    <%= f.label :first_name_kana, "（メイ）", class: "ml-md-3" %>
    <%= f.text_field :first_name_kana, autofocus: true, :placeholder => "ミチコ", class: "form-control" %>
    </div>
  </div>

  <div class="field row pt-2">
    <%= f.label :email, "メールアドレス", class: "col-md-4" %>
    <div class="col-md-3 ml-md-5">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class: "form-control" %>
    </div>
  </div>

  <div class="field row pt-2">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-md-4" %>
    <div class="col-md-3 ml-md-5">
    <%= f.text_field :postal_code, autofocus: true, :placeholder => "0000000", class: "form-control" %>
    </div>
  </div>

  <div class="field row pt-2">
    <%= f.label :address, "住所", class: "col-md-4" %>
    <div class="col-md-3 ml-md-5">
    <%= f.text_field :address, autofocus: true, :placeholder => "東京都渋谷区代々木神園町0-0", class: "form-control" %>
    </div>
  </div>

  <div class="field row pt-2">
    <%= f.label :telephone_number, "電話番号（ハイフンなし）", class: "col-md-4" %>
    <div class="col-md-3 ml-md-5">
    <%= f.text_field :telephone_number, :placeholder => "0000000000", autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="field row pt-2">
    <%= f.label :password, "パスワード（6文字以上）", class: "col-md-4" %>
    <div class="col-md-3 ml-md-5">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  </div>

  <div class="field row pt-2">
    <%= f.label :password_confirmation, "パスワード（確認用）", class: "col-md-4" %>
    <div class="col-md-3 ml-md-5">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
  </div>

  <div class="actions pt-3">
    <%= f.submit "新規登録", class: 'btn btn-sm btn-success px-4 offset-md-5' %>
  </div>
<% end %>
</div>
</div>
<h5 class='offset-md-1 pt-4'>既に登録済みの方</h5>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 offset-md-2">
      <p><%= link_to "こちら", new_session_path(resource_name) %>　からログインしてください。</p>
    </div>
  </div>
</div>