<h5 class='offset-md-2 mt-4'>商品編集</h5>
<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <%= render 'layouts/errors', obj: @item %>
      <table class="item_edit_form">
        <%= form_with model: @item, url: admin_item_path(@item), local:true do |f| %>
          <tr>
            <td><%= f.label :image, "商品画像" %></td>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <td><%= f.label :name, "商品名" %></td>
            <td><%= f.text_field :name, size: "30", class: "px-1" %></td>
          </tr>
          <tr>
            <td><%= f.label :introduction, "商品説明" %></td>
            <td><%= f.text_area :introduction, size: "30x5", class: "px-1" %></td>
          </tr>
          <tr>
            <td><%= f.label :genre, "ジャンル" %></td>
            <td><%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] }, {}, {class: "genre_width px-1"} %></td>
          </tr>
          <tr>
            <td><%= f.label :price, "税抜価格" %></td>
            <td><%= f.text_field :price, size: "30", class: "px-1" %> 円</td>
          </tr>
          <tr>
            <td><%= f.label :is_active, "販売ステータス" %></td>
            <td>
              <%= f.radio_button :is_active, :true %>
              <%= f.label :is_active, '販売中', value: true %>
              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active, '販売停止中', value: false %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.submit "変更を保存", class: "btn btn-success px-4 offset-md-10" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>