<h5 class='offset-md-2'>商品一覧</h5>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-4 px-sm-0 pt-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td><%= item.is_active == true ? "販売中" : "販売停止中" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>