<h1>商品詳細</h1>
<%= attachment_image_tag @item, :image, :fill, 50, 50, format: 'jpeg', fallback: "img/no_image.jpg" %>
<p>商品名<%= @item.name %></p>
<p>商品説明<%= @item.introduction %></p>
<p>ジャンル<%= @item.genre %></p>
<p>
  税込価格<br>
  （税抜価格）
  <%= @item.price + @time.price*0.1 %>
  （<%= @item.price %>）円
</p>
<p><%= @item.is_active == true ? "販売中" : "販売停止中" %></p>