
<div class="container">
  <h2 class='page_title my-4'>会員一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id%></td>
          <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>

          <td>
            <% if customer.is_deleted %>
              <div class="text-muted"><strong><%= "退会" %></strong></div>
            <% else %>
              <div class="text-success"><strong><%= "有効" %></strong></div>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= paginate @customers %>
  </div>

</div>

