<div class="container">
  <h2>会員一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @admin_customers.each do |admin_customer| %>
        <td><%= admin_customer.id%></td>
        <td><%= admin_customer.name %></td>
        <td><%= admin_customer.email %></td>
        
        <td><%= admin_customer.finished ? '有効' : '退会' %></td>
        
        <% end %>
      </tr>
    </tbody>
  </table>
  
  <%= paginate @admin_customers %>
  
</div>
