<div class="container offset-4 mx-auto">

<h2 class='page_title my-4'><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>

    <table class="table table-borderless col-md-6">
        <tbody offset-8>
            <tr>
                <th class="col-4">会員ID</th>
                <th><%= @customer.id%></th>
            </tr>
            <tr>
                <th>氏名</th>
                <th><%= @customer.last_name %>  <%= @customer.first_name %></th>
            </tr>
            <tr>
                <th>フリガナ</th>
                <th><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></th>
            </tr>
            <tr>
                <th>郵便番号</th>
                <th><%= @customer.postal_code %></th>
            </tr>
            <tr>
                <th>住所</th>
                <th><%= @customer.address %></th>
            </tr>
            <tr>
                <th>電話番号</th>
                <th><%= @customer.telephone_number %></th>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <th><%= @customer.email %></th>
            </tr>
            <tr>
                <th>会員ステータス</th>
                <th>
                    <% if @customer.is_deleted %>
                      <div class="text-muted"><strong><%= "退会" %></strong></div>
                    <% else %>
                      <div class="text-success"><strong><%= "有効" %></strong></div>
                    <% end %>
                </th>
            </tr>
        </tbody>
    </table>
    <div class="row offset-3">
        <div class="mr-5">
            <%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-sm btn-red edit_admin_customer_#{@customer.id}" %>
        </div>
        <div>
            <%= link_to '注文履歴一覧を見る', admin_path(@customer.id), class: "btn btn-sm btn-outline-dark" %>
        </div>
    </div>

</div>
