
<div class="container">
<p>注文履歴詳細</p>
  <%= link_to @customer.full_name, admin_customer_path(@customer) %>
  <%= @order.created_at.strftime('%Y/%m/%d') %>
  <%= @order.send_to %>
  <%= @order.payment_method %>
  <%= form_with model:@customer, url: edit_admin_customer_path, local: true do |f| %>
    <%= f.select :status, options_for_select(Order.statuses) %>
    <%= f.submit '更新', class:"btn btn-success"%>
  <% end %>
  <table class="table col-md-8 mt-5 table-bordered">
    <thead class="thead-light">
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.item.name %></td>
          <td><%= order_item.price %></td>
          <td><%= order_item.amount %></td>
          <td><%= order_item.subtotal %></td>
          <%= form_with model:order_item, url:  admin_order_order_item_path(order_item), local: true do |f| %>
            <td><%= f.select :production_status, options_for_select(OrderItem.production_statuses) %></td>
            <td><%= f.submit '更新', class: 'btn btn-success'%></td>
          <% end %>
        </tr>
      <% @total = 0 %>
      <% @total += order_item.subtotal %>
      <% end %>
    </tbody>
  </table>
  
  <%= @total %>円
  <%= @order.shipping_fee %>円
  <%= @order.payment_amount %>円
</div>
