<div class='container'>
  <h2 class='page_title my-4'>マイページ</h2>
  <div class='row'>
    <div class="col-sm-12 col-md-9 col-lg-7 px-5 px-sm-0">
      <p><strong>登録情報　</strong><%= link_to "編集する", edit_customer_path, class: "btn btn-outline-dark btn-sm" %></p>
      <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="col-3 table-active">氏名</td>
              <td><%= @customer.last_name %> <%= @customer.first_name %></td>
            </tr>
            <tr>
              <td class="col-3 table-active">カナ</td>
              <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
            </tr>
            <tr>
              <td class="col-3 table-active">郵便番号</td>
              <td>〒<%= @customer.postal_code %></td>
            </tr>
            <tr>
              <td class="col-3 table-active">住所</td>
              <td><%= @customer.address %></td>
            </tr>
            <tr>
              <td class="col-3 table-active">電話番号</td>
              <td><%= @customer.telephone_number %></td>
            </tr>
            <tr>
              <td class="col-3 table-active">メールアドレス</td>
              <td><%= @customer.email %></td>
            </tr>
          </tbody>
      </table>
      <p><strong>配送先　　</strong><%= link_to "一覧を見る", addresses_path, class: "btn btn-red btn-sm" %></p>
      <p><strong>注文履歴　</strong><%= link_to "一覧を見る", orders_path(@customer), class: "btn btn-red btn-sm" %></p>
    </div>
  </div>
</div>
