<h5 class='offset-md-2 mt-4'>注文情報入力</h5>
<div class="container">
  <div class="row mt-4">
    <% if @cart_item == nil %>
      <div class="mx-auto">
        <h2>カートに商品が入っていません。</h2>
        <%= link_to "商品一覧ページへ", items_path %>
      </div>
    <% else %>
    <div class="ml-5">
      <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
      <h5><strong>支払方法</strong></h5>
        <div class="form-group">
          <div class="radio-inline offset-md-1">
            <%= f.radio_button :payment_method, "クレジットカード", checked: true %>
            <%= f.label :payment_method, "クレジットカード" %>
          </div>
          <div class="radio-inline offset-md-1">
            <%= f.radio_button :payment_method, "銀行振込" %>
            <%= f.label :payment_method, "銀行振込" %>
          </div>
        </div>

        <h5><strong>お届け先</strong></h5>
        <div class="offset-md-1">
            <div class="form-group">
              <%= f.radio_button :address_option, 0, checked: true %>
              <%= f.label :address, "ご自身の住所", class: 'col-md-7 col-sm-8' %>
              <div class="col-md-10 col-sm-11">
              <%= @customer.postal_code %><%= @customer.address %><br>
              <%= @customer.full_name %>
              </div>
            </div>

          <div class="form-group">
            <%= f.radio_button :address_option, 1 %>
            <%= f.label :address_id, "登録済住所から選択", class: 'col-md-7 col-sm-8' %>
            <div class="col-md-10 col-sm-11">
            <%= f.collection_select :address_id, Address.where(customer_id: current_customer.id), :id, :full_address, { include_blank: '選択してください'} %>
            </div>
          </div>

          <%= f.radio_button :address_option, 2 %>
          <%= f.label :address, "新しいお届け先", class: 'col-md-4 col-sm-5' %>
          <div class='form-group d-flex'>
            <%= f.label :postal_code, '郵便番号(ハイフンなし)', class: 'col-md-5 col-sm-6' %>
            <%= f.text_field :postal_code, placeholder: '0000000', size: "20x10" %>
          </div>
          <div class='form-group d-flex'>
            <%= f.label :address, '住所', class: 'col-md-5 col-sm-6'  %>
            <%= f.text_field :address, placeholder: '東京都渋⾕区代々⽊神園町0-0', size: 60 %>
          </div>
          <div class='form-group d-flex'>
            <%= f.label :name, '宛名', class: 'ccol-md-4 col-sm-5' %>
            <%= f.text_field :name, placeholder: '令和道⼦', size:20 %>
          </div>
          <%= f.submit '確認画面へ進む', class: 'btn btn-sm btn-primary px-4 offset-md-4' %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

