<h5 class='offset-md-2'>注文情報入力</h5>

<h5><strong>支払方法</strong></h5>
<%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
  <div class="field">
    <div class="radio-inline">
      <%= f.radio_button :payment_method, '0', checked: true %>
      <%= f.label :payment_method, "クレジットカード" %>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :payment_method, '1' %>
      <%= f.label :payment_method, "銀行振込" %>
    </div>
  </div>
  
  <h5><strong>お届け先</strong></h5>
    <p>
      ご自身の住所
      <%= @customer.postal_code %>
      <%= @customer.address %>
      <%= @customer.full_name %>
    </p>
    <p>
      登録済住所から選択
      <%= f.select :(保存先カラム), Address.all. %>
    </p>
    <p>
      新しいお届け先
      <%= 
    </p>
<% end %>
  
  
