<h5 class='offset-md-2 mt-4'>注文履歴詳細</h5>
<div class="container">
  <div class="row">
      <div class="col-md-7 pr-3">
        <p><strong>注文情報</strong></p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="col-3 table-active">注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td class="col-3 table-active">配送先</td>
              <td><%= @order.postal_code %><br>
                  <%= @order.address %><br>
                  <%= @order.name %>
              </td>
            </tr>
            <tr>
              <td class="col-3 table-active">支払方法</td>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <td class="col-3 table-active">ステータス</td>
              <td><%= @order.status %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-5">
        <p><strong>請求情報</strong></p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="col-3 table-active">商品合計</td>
              <td></td>
            </tr>
            <tr>
              <td class="col-3 table-active">配送料</td>
              <td><%= @order.shipping_fee %></td>
            </tr>
            <tr>
              <td class="col-3 table-active"><strong>ご請求額</strong></td>
              <td><%= @order.payment_amount.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <p><strong>注文内容</strong></p>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th class="font-weight-normal col-5">商品</th>
              <th class="font-weight-normal col-3">単価（税込）</th>
              <th class="font-weight-normal col-2">個数</th>
              <th class="font-weight-normal col-2">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= order_item.price %></td>
              <td><%= order_item.amount %></td>
              <td><%= @sub_total %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
