<!--管理者用のログインページ-->
<div class='container'>
  <h2 class='offset-md-1 page_title my-4'>管理者ログイン</h2>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= form_with model:@admin, url: admin_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label :email, 'メールアドレス', class: "col-md-4" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-6" %>
        </div>

        <div class="field">
          <%= f.label :password, 'パスワード', class: "col-md-4" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-md-6" %>
        </div>

        <div class="actions mt-2">
          <%= f.submit "ログイン", class: 'btn btn-sm btn-red px-4 offset-md-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>