<div class="top-color">
  <div class="top-visual">
      <p class="top-visual-content">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
  </div>
    <div class="cotainer">
      <h2 class="page_title offset-md-1 my-5">新着商品</h2>
      <div class="row">
        <div class="mx-auto d-flex">
          <% @items.each do |item| %>
            <div class="mx-3">
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag item, :image, size: '250x200', format: 'jpeg', fallback: "img/no_image.jpg", class: "card shadow" %><br>
              <% end %>
              <div class="item-name">
                <%= item.name %><br>
              </div>
              ¥<%= (item.price).to_s(:delimited) %>
            </div>
          <% end %>
        </div>
        <div class="offset-md-9 mb-5">
          <%= link_to "全ての商品を見る>", items_path %>
        </div>
      </div>
    </div>
</div>