<div class="container">
  <div class="row mt-5">
    <table class="table col-md-8">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <% item = Item.find(cart_item.item_id) %>
          <% total_price = 0 %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td>
              <%= form_with model:cart_item, customer_cart_item(current_customer, cart_item) local: true do |f| %>
                <%= f.select :amount, options_for_select(@numbers, {selected: cart_item.amount}) %>
              <% end%>
            </td>
            <td><%= item.price * cart_item %></td>
            <td><%= link_to '削除', customer_cart_item_path(current_customer, cart_item), method: :delete, class:"btn btn-danger" %></td>
          </tr>
          <% total_price += %>
        <% end %>
      </tbody>
    </table>

    <dt class="col-6 py-1">合計金額</dt>
  </div>
</div>
