<div class="container col-10">
  <div class="row d-flex align-items-end">
    <h2>商品一覧</h2>
    <h4>全<%= @items.count %>件</h4>
  </div>
  <div class="row">
    <% @items.each do |item| %>
      <div class="flex-column col-3 col-sm-3">
        <div><%= attachment_image_tag item, :image, :fill, 250, 200, format: 'jpeg' %></div>
        <div><%= item.name %></div>
        <div>¥<%= item.price.to_s(:delimited, delimiter: ',') %></div>
      </div>
    <% end %>
  </div>
</div>

  <div class="col-md-1 col-md-offset-6 mx-auto">
    <%= paginate @items %>
  </div>